.banner {
  background-color: white;
  color: black;
  text-align: center;
}

.input-group {
  text-align: center;
}

.error-message {
  text-align: center;
  color: red;
}

.morse-code {
  text-align: center;
}

.interpretation {
  text-align: center;
}
